@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Quicksand:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* ******************************************************************************** */
/* ************************************Base Styles********************************* */
/* ******************************************************************************** */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Quicksand", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Archivo Black", sans-serif;
  }
}

/* ******************************************************************************** */
/* *************************************COMPONENTS********************************* */
/* ******************************************************************************** */
@layer components {

  .section {
    @apply bg-gradient-to-r from-slate-950  via-gray-900  to-slate-950 flex flex-col items-center justify-center py-12 min-h-[100vh] p-4;
  }

  .section-title {
    @apply text-4xl font-bold text-transparent md:text-5xl bg-gradient-to-r from-green-500 to-indigo-600 bg-clip-text;
  }

  .section-subtitle {
    @apply text-lg font-bold text-transparent sm:text-xl bg-gradient-to-r from-indigo-400 to-green-300 bg-clip-text;
  }

  .on-hover {
    @apply text-slate-400 hover:bg-gradient-to-br hover:from-red-100 hover:via-yellow-100 hover:to-red-100 hover:text-gray-800;
  }

  .card {
    @apply p-5 antialiased text-center transition duration-300 ease-in-out bg-transparent bg-black border shadow-2xl border-gray-950 rounded-xl on-hover;
  }

  .text-title {
    @apply text-xl font-bold;
  }

  .text-subtitle {
    @apply text-base font-bold;
  }

  .text-caption {
    @apply text-sm font-bold;
  }

  .text-regular {
    @apply text-base font-semibold;
  }

}

/* ******************************************************************************** */
/* *************************************ANIMATIONS********************************* */
/* ******************************************************************************** */


/* Avatar Animation */
@keyframes avatar-animation {

  0% {
    border-radius: 65% 45% 35% 75% / 35% 45% 75% 65%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 60% 70% 40% 30%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 30% 40% 70% 60%;
  }

}

.avatar-animation {
  animation: avatar-animation 8s infinite;
}

